<div class="jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <!-- <h3>Reactive Form Validation - OnSubmit</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Register</button>
                <button type="reset" class="btn btn-default">Reset</button>
              </div>
            </form>   -->
        </div>
        <div class="col-lg-6">
            <h1>Reactive forms</h1>
            <form [formGroup]="myForm" (ngSubmit)="register(myForm)" countryCity telephoneNumbers novalidate>
              <p> Is "myForm" valid? {{myForm.valid}} </p>
            
              <div>
                <label>Name</label>
                <input type="text" name="name" formControlName="name" required uniqueName>
                <show-errors [control]="myForm.controls.name"></show-errors>
              </div>
            
              <div>
                <label>Birth Year</label>
                <input type="text" name="birthYear" formControlName="birthYear" required birthYear>
                <show-errors [control]="myForm.controls.birthYear"></show-errors>
              </div>
            
              <div formGroupName="location">
                <h3>Location</h3>
                <div>
                  <label>Country</label>
                  <input type="text" name="country" formControlName="country" required minlength="5" maxlength="30">
                  <show-errors [control]="myForm.controls.location.controls.country"></show-errors>
                </div>
                <div>
                  <label>City</label>
                  <input type="text" name="city" formControlName="city">
                </div>
              </div>
            
              <div formArrayName="phoneNumbers">
                <h3>Phone numbers</h3>
                <div *ngFor="let phoneNumberControl of myForm.controls.phoneNumbers.controls; let i=index;">
                  <label>Phone number {{i + 1}}</label>
                  <input type="text" name="phoneNumber[{{phoneId}}]" [formControlName]="i" required telephoneNumber>
                  <button type="button" (click)="remove(i); myForm.markAsTouched()">remove</button>
                  <show-errors [control]="phoneNumberControl"></show-errors>
                </div>
                <button type="button" (click)="add(); myForm.markAsTouched()">Add phone number</button>
              </div>
            
              <show-errors [control]="myForm"></show-errors>
            
              <pre>{{myForm.value | json}}</pre>
              <button type="submit" [disabled]="myForm.invalid || myForm.pending">Register</button>
              <button type="button" (click)="printMyForm()">Print to console</button>
            </form>
        </div>
    </div>
  </div>
</div>

<!-- <p>Form value: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p> -->

<router-outlet></router-outlet>